body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.calculator {
    width: 300px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.display {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    height: 80px;
    border-radius: 10px 10px 0 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: #666;
    border-radius: 0 0 10px 10px;
}

.btn {
    background-color: #444;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.operator {
    background-color: orange;
    color: white;
    border-radius: 5px;
}

.operator:hover {
    background-color: #e69500;
}

.ten{
    background-color: green;
    color: white;
    grid-column: span 2;
    border-radius: 5px;
}

.ten:hover {
    background-color: #0b7500;
}

.zero {
    grid-column: span 2;
    border-radius: 5px;
}
